docs/vrsl.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns:sh="http://www.w3.org/ns/shacl#"
         xmlns:xs="http://www.w3.org/2001/XMLSchema"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="https://dmaus.name/ns/vrsl#">
   <a:documentation>Autogenerated from the formal ontology</a:documentation>
   <start>
      <ref name="ValidationSummary"/>
   </start>
   <define name="any-content">
      <zeroOrMore>
         <choice>
            <element>
               <anyName/>
               <ref name="any-content"/>
            </element>
            <attribute>
               <anyName/>
            </attribute>
            <text/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="foreign-properties">
      <zeroOrMore>
         <element>
            <anyName>
               <except>
                  <nsName ns="https://dmaus.name/ns/vrsl#"/>
               </except>
            </anyName>
            <ref name="any-content"/>
         </element>
      </zeroOrMore>
   </define>
   <define name="ValidationSummary">
      <choice>
         <element name="ValidationSummary">
            <interleave>
               <optional>
                  <ref name="isValid"/>
               </optional>
               <zeroOrMore>
                  <ref name="result"/>
               </zeroOrMore>
               <optional>
                  <ref name="instance"/>
               </optional>
               <ref name="foreign-properties"/>
               <empty/>
            </interleave>
         </element>
      </choice>
   </define>
   <define name="LineColumnLocator">
      <choice>
         <element name="LineColumnLocator">
            <interleave>
               <ref name="line"/>
               <ref name="column"/>
               <ref name="foreign-properties"/>
               <empty/>
            </interleave>
         </element>
      </choice>
   </define>
   <define name="Locator">
      <choice>
         <element name="Locator">
            <interleave>
               <ref name="foreign-properties"/>
               <empty/>
            </interleave>
         </element>
         <ref name="LineColumnLocator"/>
         <ref name="XPathLocator"/>
         <ref name="CustomLocator"/>
      </choice>
   </define>
   <define name="XPathLocator">
      <choice>
         <element name="XPathLocator">
            <interleave>
               <ref name="value"/>
               <ref name="foreign-properties"/>
               <empty/>
            </interleave>
         </element>
      </choice>
   </define>
   <define name="CustomLocator">
      <choice>
         <element name="CustomLocator">
            <interleave>
               <ref name="foreign-properties"/>
               <empty/>
            </interleave>
         </element>
      </choice>
   </define>
   <define name="ValidationResult">
      <choice>
         <element name="ValidationResult">
            <interleave>
               <oneOrMore>
                  <ref name="message"/>
               </oneOrMore>
               <zeroOrMore>
                  <ref name="instanceLocation"/>
               </zeroOrMore>
               <zeroOrMore>
                  <ref name="schemaLocation"/>
               </zeroOrMore>
               <ref name="foreign-properties"/>
               <empty/>
            </interleave>
         </element>
      </choice>
   </define>
   <define name="result">
      <element name="result">
         <ref name="alidationesult"/>
      </element>
   </define>
   <define name="instanceLocation">
      <element name="instanceLocation">
         <ref name="ocator"/>
      </element>
   </define>
   <define name="isValid">
      <element name="isValid">
         <attribute name="rdf:datatype">
            <value>http://www.w3.org/2001/XMLSchema#boolean</value>
         </attribute>
         <data type="boolean"/>
      </element>
   </define>
   <define name="message">
      <element name="message">
         <interleave>
            <optional>
               <attribute name="xml:lang">
                  <data type="language"/>
               </attribute>
            </optional>
            <text/>
         </interleave>
      </element>
   </define>
   <define name="schemaLocation">
      <element name="schemaLocation">
         <ref name="ocator"/>
      </element>
   </define>
   <define name="value">
      <element name="value">
         <ref name="any-content"/>
      </element>
   </define>
   <define name="instance">
      <element name="instance">
         <ref name="any-content"/>
      </element>
   </define>
   <define name="column">
      <element name="column">
         <attribute name="rdf:datatype">
            <value>http://www.w3.org/2001/XMLSchema#integer</value>
         </attribute>
         <data type="integer"/>
      </element>
   </define>
   <define name="line">
      <element name="line">
         <attribute name="rdf:datatype">
            <value>http://www.w3.org/2001/XMLSchema#integer</value>
         </attribute>
         <data type="integer"/>
      </element>
   </define>
</grammar>
