docs/vrsl.rnc

default namespace = "https://dmaus.name/ns/vrsl#"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace rdf = "http://www.w3.org/1999/02/22-rdf-syntax-ns#"

a:documentation [ "Autogenerated from the formal ontology" ]
start = ValidationSummary
ValidationSummary =
  element ValidationSummary { (isValid? & result*), empty }
LineColumnLocator = element LineColumnLocator { (line & column), empty }
Locator = LineColumnLocator | XPathLocator
XPathLocator = element XPathLocator { (value & document?), empty }
CustomLocator = element CustomLocator { empty }
ValidationResult =
  element ValidationResult {
    (message+ & instanceLocation* & schemaLocation*), empty
  }
result = element result { ValidationResult }
instanceLocation = element instanceLocation { Locator }
isValid =
  element isValid {
    attribute rdf:datatype { xsd:anyURI },
    xsd:boolean
  }
message =
  element message {
    attribute xml:lang { xsd:language }?,
    text
  }
schemaLocation = element schemaLocation { Locator }
value = element value { text }
document =
  element document {
    attribute rdf:datatype { xsd:anyURI },
    xsd:anyURI
  }
column =
  element column {
    attribute rdf:datatype { xsd:anyURI },
    xsd:integer
  }
line =
  element line {
    attribute rdf:datatype { xsd:anyURI },
    xsd:integer
  }
