docs/vrsl.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="https://dmaus.name/ns/vrsl#">
   <a:documentation>Autogenerated from the formal ontology</a:documentation>
   <start>
      <ref name="ValidationSummary"/>
   </start>
   <define name="ValidationSummary">
      <element name="ValidationSummary">
         <interleave>
            <optional>
               <ref name="isValid"/>
            </optional>
            <zeroOrMore>
               <ref name="result"/>
            </zeroOrMore>
         </interleave>
         <empty/>
      </element>
   </define>
   <define name="LineColumnLocator">
      <element name="LineColumnLocator">
         <interleave>
            <ref name="line"/>
            <ref name="column"/>
         </interleave>
         <empty/>
      </element>
   </define>
   <define name="Locator">
      <choice>
         <ref name="LineColumnLocator"/>
         <ref name="XPathLocator"/>
      </choice>
   </define>
   <define name="XPathLocator">
      <element name="XPathLocator">
         <interleave>
            <ref name="value"/>
            <optional>
               <ref name="document"/>
            </optional>
         </interleave>
         <empty/>
      </element>
   </define>
   <define name="CustomLocator">
      <element name="CustomLocator">
         <empty/>
      </element>
   </define>
   <define name="ValidationResult">
      <element name="ValidationResult">
         <interleave>
            <oneOrMore>
               <ref name="message"/>
            </oneOrMore>
            <zeroOrMore>
               <ref name="instanceLocation"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="schemaLocation"/>
            </zeroOrMore>
         </interleave>
         <empty/>
      </element>
   </define>
   <define name="result">
      <element name="result">
         <ref name="ValidationResult"/>
      </element>
   </define>
   <define name="instanceLocation">
      <element name="instanceLocation">
         <ref name="Locator"/>
      </element>
   </define>
   <define name="isValid">
      <element name="isValid">
         <attribute name="rdf:datatype">
            <data type="anyURI"/>
         </attribute>
         <data type="boolean"/>
      </element>
   </define>
   <define name="message">
      <element name="message">
         <optional>
            <attribute name="xml:lang">
               <data type="language"/>
            </attribute>
         </optional>
         <text/>
      </element>
   </define>
   <define name="schemaLocation">
      <element name="schemaLocation">
         <ref name="Locator"/>
      </element>
   </define>
   <define name="value">
      <element name="value">
         <text/>
      </element>
   </define>
   <define name="document">
      <element name="document">
         <attribute name="rdf:datatype">
            <data type="anyURI"/>
         </attribute>
         <data type="anyURI"/>
      </element>
   </define>
   <define name="column">
      <element name="column">
         <attribute name="rdf:datatype">
            <data type="anyURI"/>
         </attribute>
         <data type="integer"/>
      </element>
   </define>
   <define name="line">
      <element name="line">
         <attribute name="rdf:datatype">
            <data type="anyURI"/>
         </attribute>
         <data type="integer"/>
      </element>
   </define>
</grammar>
